<% content_for :title, "新規生徒登録" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-section-heading text-plum-black mb-6">新規生徒登録</h1>

  <%= render "form", student: @student %>

  <div class="flex flex-wrap gap-2 mt-4">
    <%= link_to "一覧に戻る", students_path, class: "rounded-button px-3.5 py-2.5 bg-sand-gray hover:bg-warm-light text-black inline-block font-normal text-button" %>
  </div>
</div>
